.car-game-background {
  background-image: url('../../public/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.car-game-container {
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.start-screen, .end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.car-image-container {
  max-width: 100%;
  margin: 20px auto;
}

.car-image {
  height: 457px;
  width: auto;
}

.year-input {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-button, .next-button, .start-button, .play-again-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 20px;
}

.submit-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.result {
  margin-top: 20px;
}

.result-text, .points, .car-name {
  font-size: 18px;
  margin: 10px 0;
  color: black;
  font-weight: bold;
}

.points {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.next-button {
  display: inline-block;
  margin-top: 0;
  margin-left: 10px;
}

.car-game-container {
  padding-top: 10px;
}