.simon-app {
  background-image: url(../../public/images/simongamebackground.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.simon-title {
  margin-bottom: -10px;
}

.simon-level {
  margin-bottom: 10px;
}

.simon-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin-bottom: 20px;
}

.simon-square {
  cursor: pointer;
  background-color: lightgray;
  border: 2px solid darkgray;
  width: 100px;
  height: 100px; 
}

.simon-square.simon-active {
  background-color: yellow;
}

.game-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  background-color: #4CAF50;
  padding: 15px 32px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 4px;
}

.game-button:hover {
  background-color: #45a049;
}